<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			<div class="header">
	<ul class="nav nav-pills pull-right">
			   		<ul class=nav nav-pills pull-right>
	        		<li><a href="/">Blog</a></li>
		        	<li><a href="/about">About</a></li>
          </ul>
		<h3 class="text-muted"><a href="/">Ms Low Code</a></h3>
</div>
</div>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
                <li><a href="https://github.com/mslowcode">github.com/mslowcode</a></li>
				</ul>
			</footer>
		</body>
	</html>
